@tailwind base;
@tailwind components;
@tailwind utilities;

*, ::before, ::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

@layer base {
  body {
      font-family: 'Outfit', sans-serif;
      background: #240556;
      color: #eee;
  }

  h2, h3 {
      font-family: 'Josefin Sans', sans-serif;
  }

  input, textarea, select {
      @apply w-full bg-inherit border-b border-slate-500 outline-none px-2;
  }
}

@layer components {
  .form-control {
      @apply flex flex-col my-5 w-full;
  }

  .btn {
      @apply text-xl text-center bg-[#C31192] text-slate-200 hover:bg-slate-200 hover:text-[#C31192] rounded-md px-5 py-3;
  }
}